.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #01204E;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: bisque;
}

p {
  font-size: 2rem;
  color: bisque;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
  margin-bottom: 20px;
}

button{
  margin: auto;
  display: block;
  padding: 5px 10px;
  border-radius: 20px;
  color: bisque;
  font-size: 1rem;
  font-weight: 900;
  background-color: darkred;
  border: 1px solid black;
}


